.imagenfav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imagenfav img{
    width: 25px;
    height: 21px;
    
}
.imagenfav h3{
    color: #572EE5;
    font-size: 20px;
    padding: 7px 0 0 0;
}

.imagenMisGigos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imagenMisGigos img{
    width: 25px;
    height: 21px;
    
}
.imagenMisGigos h3{
    color: #572EE5;
    font-size: 20px;
    padding: 7px 0 0 0;
}