:root{
    --colorBlanco:#ffffff;
 --colorSecundario: #50E3C2;
 --colorTitulo: #572EE5;
--colorTrending:#F3F5F8;
--colorTexto: black;
--colorMenu: #572EE5;
--colorSubrayar: #50E3C2;
--backgroundColor:#ffffff;
--colorMenuH: #572EE5;
//'#37383C');
--colorA: #222326;
--colorB: #37383C;
--inversoTexto: #ffffff;

}

body{
    background-color: var(--backgroundColor);
}

h1{
    color: var(--colorTitulo);
    font-size: 30px;
    
}
.titulo {

    width: 100%;
        padding: 0px 45px 20px 45px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.titulo:hover{
   
    cursor: pointer;
}


.auxTitulo{
text-align: center;
}
.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auxTitulo span{
color: var(--colorSecundario);
}
.imagenInicio{
    width: 80vw;
}
.imagenInicio img {
    width: 100%;
}
// Search Bar

#search1{
    text-align: center;
    width: 100%;
    border-radius: 20px 20px 20px 20px;;
    height: 50px;
    border: none;
    cursor: pointer;
    z-index: 100;
    color: var(--colorBlack);
   
}
.searchBar img:hover{
    z-index: 99;
    cursor: pointer;
}


.searchBar {
    position: relative;

}

.searchBar img {
    position: absolute;
    top: 14px;
    right: 25px;
    z-index: 99;
    cursor: pointer;
}
.trending .h3aux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.trending .h3aux h3 {
    width: 80%;
    padding-left: 60px;
    font-weight: bold;
    color: var(--colorTitulo);
    font-size: 18px;
    text-align: center;
}
.trending .h3aux p{
    padding-left: 60px;
    width: 50%;
    color: var(--colorTitulo);
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}
.trending .h3aux{
    width: 100%;
   padding: 30px 70px 28px 35px;
//    display: flex;
//    justify-content: center;
//    flex-direction: column;
   position: relative;
   
}
.h3aux::before{
    content:'';
    position: absolute;
    left: 30vw;
    bottom: 0;
    width: 40vw;
    opacity: 0.5;
    //left: 10%; /*this centers it based on the above width*/
    border-bottom: 1px solid #9CAFC3;


}



    @media only screen and (min-width: 768px){
        .inicio{
            padding-top: 90px;
        }

.imagenInicio{
                width: 50vw;
        }
.imagenInicio img {
    width: 100%;
}
// Search Bar

// #search1{
//     width: 50%;
// }

}
@media only screen and (min-width: 1024px){

    .imagenInicio{
        width: 24vw;
    }
    // Search Bar
    
    // #search1{
    //     background-color: blue;
    //     width: 50%;
    //     height: 50px;
    // }
    }


