
footer{
    position: relative;
    top:-50px;
    align-items: center;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  height: 40px;
}
footer .redes h4 {
    //padding: 47px 0 22px 0;
    font-size: 15px;
    font-weight: normal;
   
    align-items: center;
    padding-bottom: 20px;
  
    white-space: nowrap;
    height: 100%;
}
.logosRedes{
    display: flex;
}

.redes{
   
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--colorTexto);
    padding-bottom: 20px;

    height: 100%;
}
.redes i{
    //height: 20px;
   // width: 20px;

   color: rgb(163, 161, 161);
    padding: 0 10px 0 10px;
}
footer p{
    //height: 20px;
   // width: 20px;
   padding: 0 10px 0 10px;
   display: flex;
   width: 100%;
    color: var(--colorTexto);
    font-size: 15px;
    font-weight: normal;
    align-items: center;
    justify-content: center;
 
    height: 100%;
}

.redes i:hover{
    transform: scale(1.2);
    color: var(--colorTitulo);
    
}
@media only screen and (min-width: 768px){
footer{
    display: '' ;


height: 18px;
}

footer .redes h4 {
    //padding: 47px 0 22px 0;
    padding:0;
    font-size: 15px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  //background-color: blue;
    white-space: nowrap;
    height: 100%;
}
.footerHelp{
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.redes{
    padding: 0 0 0px 5vw;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: var(--colorTexto);


    height: 100%;
}
.logosRedes{
    display: flex;
    align-items: center;
    //background-color: red;
    height: 100%;
}

#margin2{
    margin-top: 30px;
}
}
