footer{
    //position: relative;
   // top: -100vh;
    //height: -100vh;

}
footer h4 {
    padding: 47px 0 22px 0;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}
.redes{
    padding: 0 35vw 24px 35vw;
    width: 100%;
    display: flex;
    justify-content: center;
}
.redes img{
    //height: 20px;
   // width: 20px;
    padding: 0 10px 0 10px;
}
footer p{
    //height: 20px;
   // width: 20px;
    padding: 0 0 23px 0;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}