.lookUp{
    width: 100%;
//height: 1000px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
//display: none;

}
.lookUp h2{

padding: 40px 0 20px 0;
color:#572EE5;
font-size: 30px;
}
.overlay{
    opacity: 0;
    //display: none;
}

.lookUp .gifosSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 78px 10px;
    flex-wrap: wrap;

}
.lookUp .gifosSearch .base {
     height: auto;
     width: 90%;
     margin: 5px;
     //background-color: rgb(204, 125, 125);
     position: relative;
     object-fit: contain;
     overflow: hidden;
}
.base .embed{
    height: 100%;
    width: 100%;
    //position: absolute;
  object-fit: contain;
}

// .background{
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 100%;
//     width: 100%;
//     background-color:black;
// }


// .lookUp .gifosSearch .overlay:hover .background{
//     //opacity: 0.3;
//     color: black;
//     opacity: 0.5;  
   
//    }
.buttonVerMas{
    padding: 0 0  80px 0;

}
#verMas:hover{
    background-color: #572EE5;
    color: #F3F5F8;


}
#verMas{
    display: none;
    align-items: center;
    justify-content: center;
    color: #572EE5;
    width: 127px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
    border: 1px solid #572EE5;
    background-color: #F3F5F8;
}

@media only screen and (min-width: 768px){

    .lookUp .gifosSearch .base {
        height: 18vw;
        max-height: 230px;
        width: 25vw;
        max-width: 300px;
        margin: 1%;
        
   }

    .lookUp .gifosSearch .overlay{
        display: flex;
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(124, 150, 235);
        z-index: 2;
        opacity: 0;
    }
    
    .overlay .iconos img{
        background-color: #FFFFFF;
        object-fit: contain;
     }
    
    .overlay .iconosBox{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }
    .overlay .nameBox{
        position: absolute;
        bottom: 2px;
        left: 5px;
    }
    
    .overlay .iconos{
        
        height: 32px;
        width: 32px;
        background-color: #FFFFFF;
        border-radius: 4px 4px 4px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        opacity: 0.6;
    
    }
    .lookUp .gifosSearch .overlay:hover {
        opacity: 1;
        color: white;
       background-color: transparentize($color: #000000, $amount: 0.6)

    }
    .lookUp .gifosSearch .overlay:hover .iconos:hover{
        opacity: 1;
        color: white;
       background-color: transparentize($color: #FFFFFF, $amount: 0);

    }
  

}