
.myGifAux{
    display: flex;
    justify-content: center;
    
}
.verGifo{
    display: flex;
    //background-color: red;
  
    height: 95px;
    width: 100%;
}
.verGifo i{
color: var(--colorTitulo);
transform: scale(1.5);
}
.verGifo .logo{
   opacity: 0.1;
  // background-color: purple;
}
.verGifo .close{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    z-index: 50;
    width: 80%;
    color: var(--colorTitulo);
    //background-color: red;
    
}
 

.gifElegido{
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 60vw;
    justify-content: center;
    align-items: center;
    z-index: 9999999999999999999999999999999999999;
   //background-color: pink;
    //z-index: 5;
}

.contenedorPrincipal{
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    width: 88%;
    height: 100%;
}

.gifcontenedor{
    display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   height: 100%;
   width: 100%;
}
.gifcontenedor img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.gifElegido .textos{

    width: 100%;
    display: flex;
    //background-color: pink;
    justify-content: space-between;
    align-items: center;

}
.gifElegido #textoMax {

    color: var(--colorTexto);
    

}
.iconoContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconoContenedor .iconos{
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    color: var(--colorTitulo);
    cursor: pointer;
}
.iconoContenedor .iconos i{ 
    color:#572EE5;
    //background-color: #572EE5;
    //transform: scale(100);
}