menu i {
  color: var(--colorTitulo); }

#gifoCaritas img {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center; }

#gifoCaritas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#gifoCaritas h3 {
  color: var(--colorSecundario); }

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Montserrat', sans-serif; }

.margins {
  height: 5px;
  width: 100%;
  background-color: var(--colorTitulo); }

#margin1 {
  position: absolute;
  top: 0; }

@media only screen and (min-width: 768px) {
  body {
    margin-top: 90px; }

  header {
    margin-top: -90px; }

  .iconos img i {
    color: var(--colorTitulo); } }
header {
  width: 100%;
  background-color: none; }

#addGifo {
  display: none; }

nav .liSearch {
  display: none; }

.logo {
  margin-top: 29px;
  margin-left: 22px;
  height: 8%;
  min-height: 56px;
  max-height: 65px;
  max-width: 56px;
  min-width: 49px;
  width: 15%;
  margin-bottom: 17px; }

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

/*-------- MENU HAMBURGUESA ---///*/
.menuhamburguesa {
  position: absolute;
  top: 47px;
  right: 26px;
  width: 15px;
  height: 14px; }

header input[type="checkbox"] {
  position: absolute;
  top: 45px;
  right: 26px;
  width: 18px;
  height: 16px;
  z-index: 2;
  opacity: 0; }

.navegador .menuhamburguesa > div {
  position: relative;
  display: flex;
  width: 100%;
  height: 2px;
  z-index: -1;
  justify-content: center;
  transition: 0.4s ease-in-out;
  background-color: var(--colorTitulo); }

.navegador .menuhamburguesa > div:before {
  content: '';
  position: absolute;
  top: -5px;
  width: 100%;
  height: 2px;
  z-index: 1;
  background-color: var(--colorTitulo); }

.navegador .menuhamburguesa > div:after {
  content: '';
  position: absolute;
  top: 5px;
  width: 100%;
  height: 2px;
  z-index: 1;
  background-color: var(--colorTitulo); }

/*-------- ACTIVACION MENU ---///*/
/*----------------------------///*/
#menuH:checked ~ .menuhamburguesa > div {
  transform: rotate(135deg); }

#menuH:checked ~ .menuhamburguesa > div:before {
  top: 0em;
  transform: rotate(90deg); }

#menuH:checked ~ .menuhamburguesa > div:after {
  transform: rotate(90deg);
  top: 0em; }

.navegador {
  display: flex;
  flex-direction: column;
  width: 100%; }

.menu {
  position: absolute;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorMenu);
  width: 100%;
  height: 100%;
  top: -150vh;
  display: flex;
  transition: 0.4s ease-in-out;
  z-index: 99999;
  opacity: 0; }

#menuH:checked ~ .menu {
  top: 95px;
  height: 100%;
  opacity: 0.9; }

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--colorBlanco);
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin: 0; }

nav ul li {
  width: 100%;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 0 5px 0 5px;
  white-space: nowrap; }

#darkIndex {
  text-align: center;
  width: 150px; }

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff; }

.conLinea {
  position: relative; }

.conLinea::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 10vh;
  border-bottom: 1px solid var(--colorBlanco); }

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1; }

  #liSearch {
    width: 20%; }

  .navegador {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 90px;
    margin: 0; }

  .logo {
    position: absolute;
    top: 17px;
    left: 10%;
    height: 8%;
    min-height: 56px;
    max-height: 65px;
    max-width: 56px;
    min-width: 49px;
    width: 15%;
    z-index: 20;
    margin: 0; }

  .menuhamburguesa {
    display: none; }

  header input[type="checkbox"] {
    display: none; }

  #menuH:checked ~ .menu {
    color: var(--colorTitulo);
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    background-color: var(--colorBlanco);
    width: 100%;
    height: 90px;
    top: 5px;
    display: flex;
    z-index: 3;
    opacity: 1; }

  .menu {
    height: 80px;
    color: var(--colorTitulo);
    flex-direction: row;
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    background-color: transparent;
    width: 100%;
    height: 90px;
    top: 5px;
    display: flex;
    opacity: 1; }

  nav ul li {
    height: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 15%;
    height: auto;
    font-size: 14px;
    color: var(--colorTitulo);
    font-weight: bold; }

  nav ul {
    background-color: var(--colorBlanco);
    height: 40px;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: var(--colorTitulo);
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    padding: 0;
    margin: 0;
    z-index: 21;
    transition: 0.3 ease-in-out; }

  nav ul li a {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: var(--colorTitulo); }

  #addGifo {
    padding: 0 9% 0 9%;
    display: flex;
    justify-content: center; }

  #addGifo .svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    border: 1px solid var(--colorTitulo);
    z-index: 21; }

  #addGifo .svg:active {
    background-color: #9CAFC3;
    border: 1px solid #9CAFC3; }

  #addGifo .svg:hover i {
    color: var(--colorBlanco); }

  nav ul li a:hover {
    text-decoration: none;
    box-shadow: inset 0 -2px 0px var(--colorBlanco), inset 0 -4.5px 0 var(--colorSecundario); }

  #addGifo a .svg:hover {
    background-color: var(--colorTitulo); }

  #addGifo a:hover {
    box-shadow: none;
    border-radius: 50%;
    background-color: var(--colorTitulo); } }
footer {
  position: relative;
  top: -50px;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  height: 40px; }

footer .redes h4 {
  font-size: 15px;
  font-weight: normal;
  align-items: center;
  padding-bottom: 20px;
  white-space: nowrap;
  height: 100%; }

.logosRedes {
  display: flex; }

.redes {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--colorTexto);
  padding-bottom: 20px;
  height: 100%; }

.redes i {
  color: #a3a1a1;
  padding: 0 10px 0 10px; }

footer p {
  padding: 0 10px 0 10px;
  display: flex;
  width: 100%;
  color: var(--colorTexto);
  font-size: 15px;
  font-weight: normal;
  align-items: center;
  justify-content: center;
  height: 100%; }

.redes i:hover {
  transform: scale(1.2);
  color: var(--colorTitulo); }

@media only screen and (min-width: 768px) {
  footer {
    display: "";
    height: 18px; }

  footer .redes h4 {
    padding: 0;
    font-size: 15px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    height: 100%; }

  .footerHelp {
    display: flex;
    align-items: center;
    justify-content: stretch; }

  .redes {
    padding: 0 0 0px 5vw;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: var(--colorTexto);
    height: 100%; }

  .logosRedes {
    display: flex;
    align-items: center;
    height: 100%; }

  #margin2 {
    margin-top: 30px; } }
:root {
  --colorBlanco:#ffffff;
  --colorSecundario: #50E3C2;
  --colorTitulo: #572EE5;
  --colorTrending:#F3F5F8;
  --colorTexto: black;
  --colorMenu: #572EE5;
  --colorSubrayar: #50E3C2;
  --backgroundColor:#ffffff;
  --colorMenuH: #572EE5;
  --colorA: #222326;
  --colorB: #37383C;
  --inversoTexto: #ffffff; }

body {
  background-color: var(--backgroundColor); }

h1 {
  color: var(--colorTitulo);
  font-size: 30px; }

.titulo {
  width: 100%;
  padding: 0px 45px 20px 45px;
  display: flex;
  justify-content: center;
  align-items: center; }

.titulo:hover {
  cursor: pointer; }

.auxTitulo {
  text-align: center; }

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center; }

.auxTitulo span {
  color: var(--colorSecundario); }

.imagenInicio {
  width: 80vw; }

.imagenInicio img {
  width: 100%; }

#search1 {
  text-align: center;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  height: 50px;
  border: none;
  cursor: pointer;
  z-index: 100;
  color: var(--colorBlack); }

.searchBar img:hover {
  z-index: 99;
  cursor: pointer; }

.searchBar {
  position: relative; }

.searchBar img {
  position: absolute;
  top: 14px;
  right: 25px;
  z-index: 99;
  cursor: pointer; }

.trending .h3aux h3 {
  font-weight: bold;
  color: var(--colorTitulo);
  font-size: 18px;
  text-align: center; }

.trending .h3aux p {
  color: var(--colorTitulo);
  font-size: 18px;
  text-align: center;
  font-weight: normal; }

.trending .h3aux {
  width: 100%;
  padding: 30px 70px 28px 35px;
  position: relative; }

.h3aux::before {
  content: '';
  position: absolute;
  left: 30vw;
  bottom: 0;
  width: 40vw;
  opacity: 0.5;
  border-bottom: 1px solid #9CAFC3; }

@media only screen and (min-width: 768px) {
  .inicio {
    padding-top: 90px; }

  .imagenInicio {
    width: 50vw; }

  .imagenInicio img {
    width: 100%; } }
@media only screen and (min-width: 1024px) {
  .imagenInicio {
    width: 24vw; } }
.lookUp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.lookUp i {
  color: #572EE5; }

.lookUp h2 {
  padding: 40px 0 20px 0;
  color: var(--colorTitulo);
  font-size: 30px; }

.overlay {
  opacity: 0; }

.lookUp .gifosSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 18px 10px;
  flex-wrap: wrap; }

.lookUp .gifosSearch .base {
  height: auto;
  width: 90%;
  margin: 5px;
  position: relative;
  object-fit: contain;
  overflow: hidden; }

.base .embed {
  height: 100%;
  width: 100%;
  object-fit: contain; }

.buttonVerMas {
  padding: 0 0  80px 0; }

#verMas:hover {
  background-color: var(--colorTitulo);
  color: var(--colorBlanco); }

#verMas {
  display: none;
  align-items: center;
  justify-content: center;
  color: var(--colorTitulo);
  width: 127px;
  height: 50px;
  border-radius: 50px 50px 50px 50px;
  border: 1px solid var(--colorTitulo);
  background-color: var(--colorBlanco); }

@media only screen and (min-width: 768px) {
  .lookUp .gifosSearch .base {
    height: 18vw;
    max-height: 230px;
    width: 25vw;
    max-width: 300px;
    margin: 1%; }

  .lookUp .gifosSearch .overlay {
    display: flex;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0; }

  .overlay .iconos img {
    object-fit: contain; }

  .overlay .iconosBox {
    display: flex;
    position: absolute;
    top: 0;
    right: 0; }

  .overlay .nameBox {
    position: absolute;
    bottom: 2px;
    left: 5px; }

  .listasVacias {
    display: flex;
    flex-direction: column;
    color: var(--colorSecundario); }

  .overlay .iconos {
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    opacity: 0.6; }

  .overlay .iconosDelete {
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    opacity: 0.6;
    color: var(--colorTitulo); }

  .lookUp .gifosSearch .overlay:hover {
    opacity: 1;
    color: var(--colorTexto);
    background-color: rgba(87, 46, 229, 0.4); }

  .lookUp .gifosSearch .overlay:hover .iconos:hover {
    opacity: 1;
    color: var(#FFFFFF);
    background-color: white; }

  .lookUp .gifosSearch .overlay:hover .iconosDelete:hover {
    opacity: 1;
    color: var(--colorTitulo);
    background-color: white; } }
.imagenfav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.imagenfav img {
  width: 25px;
  height: 21px; }

.imagenfav h3 {
  color: var(--colorTitulo);
  font-size: 20px;
  padding: 7px 0 0 0; }

.imagenMisGigos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.imagenMisGigos img {
  width: 25px;
  height: 21px; }

.imagenMisGigos h3 {
  color: var(--colorTitulo);
  font-size: 20px;
  padding: 7px 0 0 0; }

.myGifAux {
  display: flex;
  justify-content: center; }

.verGifo {
  display: flex;
  height: 95px;
  width: 100%; }

.verGifo .logo {
  opacity: 0.1; }

.verGifo .close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
  z-index: 50;
  width: 80%;
  color: var(--colorTitulo); }

.gifElegido {
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 60vw;
  justify-content: center;
  align-items: center; }

.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88%;
  height: 100%; }

.gifcontenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.gifcontenedor img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.gifElegido .textos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.gifElegido #textoMax {
  color: var(--colorTexto); }

.iconoContenedor {
  display: flex;
  justify-content: center;
  align-items: center; }

.iconoContenedor .iconos {
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  border-radius: 4px 4px 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  color: var(#572EE5); }

.camara {
  display: none; }

.pelicula {
  display: none; }

.contenerAux {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.contenerCrearGifo {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.pantalla {
  border: 1px solid var(--colorTexto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.esquinas {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%; }

.esquinas span:first-child {
  height: 1px;
  width: 5%;
  background-color: var(--colorSecundario);
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0; }

#accionGrabacion {
  color: var(--colorTexto);
  position: absolute;
  right: 0;
  top: 15px; }

#accionGrabacion:hover {
  border-bottom: 3px solid var(--colorSecundario);
  cursor: pointer; }

.esquinas span:nth-child(2n) {
  height: 1px;
  width: 5%;
  background-color: var(--colorSecundario);
  z-index: 4;
  position: absolute;
  bottom: 0;
  right: 0; }

.esquinas span:nth-child(3n) {
  height: 10%;
  width: 1px;
  background-color: var(--colorSecundario);
  z-index: 4;
  position: absolute;
  bottom: 0;
  right: 0; }

.esquinas span:nth-child(4n) {
  height: 10%;
  width: 1px;
  background-color: var(--colorSecundario);
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0; }

.esquinas span:nth-child(5n) {
  height: 10%;
  width: 1px;
  background-color: var(--colorSecundario);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4; }

.esquinas span:nth-child(6n) {
  height: 10%;
  width: 1px;
  background-color: var(--colorSecundario);
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0; }

.esquinas::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 5%;
  background-color: var(--colorSecundario);
  z-index: 4;
  top: 0px;
  left: 0; }

.esquinas::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 5%;
  background-color: var(--colorSecundario);
  z-index: 4;
  top: 0px;
  right: 0; }

.textoEnPantalla {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.contenerAux .botones {
  padding: 10px;
  display: flex;
  position: relative;
  width: 50%;
  justify-content: center;
  align-items: center; }

.contenerAux .botones button {
  border-radius: 50%;
  height: 32px;
  width: 32px; }

.contenerAux .linea {
  height: 7px;
  width: 56%;
  background-color: var(--colorTitulo); }

.bottonComenzar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  width: 127px;
  height: 50px; }

.btnCamara {
  height: 50px;
  width: 127px;
  position: relative;
  display: flex;
  justify-content: center; }

.controler {
  height: 100%;
  width: 100%;
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  top: 0;
  left: 0; }

#grabar {
  z-index: 4; }

#start {
  z-index: 3; }

#stop {
  z-index: 2; }

#subir {
  z-index: 1; }

#videoSave {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain; }

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.textoEnPantalla {
  z-index: 3;
  background-color: var(--colorBlanco);
  height: 100%;
  width: 100%; }

#show {
  z-index: 2; }

#videoSave {
  z-index: 1; }

@media only screen and (min-width: 768px) {
  .camara {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%; }

  #luz {
    position: relative; }

  #crear1 {
    color: var(--colorTexto); }

  .camara img {
    height: 15vw;
    width: 15vw; }

  .pelicula img {
    height: 10w;
    width: 10vw; }

  .pelicula {
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 33%; }

  #crear1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4; }

  #show {
    z-index: 3; }

  #crear2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }

  #crear3 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 0; }

  #crear4 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: blueviolet;
    z-index: 2;
    display: flex; }

  .iconosMyGifo {
    position: absolute;
    display: flex;
    top: 0;
    right: 0; }

  .iconosMyGifo img {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    background-color: var(--colorBlanco);
    height: 30px;
    width: 30px;
    border-radius: 4px 4px 4px 4px; }

  .bottonComenzar {
    margin-bottom: 200px; } }
#previousTrend {
  display: none;
  top: 50%;
  position: relative;
  z-index: 99; }

#nextTrend {
  display: none;
  position: relative;
  top: 50%;
  z-index: 99;
  color: white; }

.overlayT {
  opacity: 0;
  display: none; }

.trendingGifos i {
  color: #572EE5; }

.gifosAux {
  width: 100%; }

.trendigGIFOS {
  display: flex;
  width: 100%;
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding-bottom: 84px; }

.trendigGIFOS .embedT {
  height: 187px;
  width: 243px;
  margin: 9px;
  z-index: 1; }

.trendingGifos {
  position: relative;
  top: -80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--colorTexto); }

.trendingGifos {
  text-align: center;
  background-color: var(--colorTrending);
  padding: 50px; }

.gifosAux {
  display: flex;
  position: relative;
  width: 95%;
  margin: auto; }

#contenerTrending {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.3s; }

#windowTrend {
  width: 100%;
  height: auto;
  background-color: var(--colorTrending);
  overflow: hidden;
  transition: ease-in-out 0.3s; }

.trendingGIFOS {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 10px; }

@media only screen and (min-width: 768px) {
  .trendingGIFOS {
    position: relative;
    transition: ease-in-out 0.3s; }

  .trendingGIFOS .embedT {
    height: auto;
    max-height: auto;
    width: auto;
    max-width: 400px; }

  .trendingGIFOS .embedT img {
    z-index: -1; }

  #previousTrend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    top: 55%;
    position: absolute;
    left: -50px;
    z-index: 99;
    border: 1px solid #572EE5; }

  #nextTrend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    right: -70px;
    position: absolute;
    top: 55%;
    border: 1px solid #572EE5; }

  #previousTrend:hover {
    background-color: #572EE5; }

  #nextTrend:hover {
    background-color: #572EE5; }

  #previousTrend i {
    color: #572EE5; }

  #nextTrend i {
    color: #572EE5; }

  #previousTrend:hover i {
    color: #ffffff; }

  #nextTrend:hover i {
    color: #ffffff; }

  .trendingGifos {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  h2 {
    text-align: center;
    color: var(--colorTexto); }

  .gifosAux {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: var(--colorTexto); }

  #contenerTrending {
    margin-top: 50px;
    position: relative;
    object-fit: contain;
    display: flex;
    width: 100%;
    height: 100%; }

  #windowTrend {
    width: 100%;
    height: auto;
    background-color: var(--colorTrending);
    overflow: hidden;
    transition: ease-in-out 0.3s; }

  .overlayT {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    color: var(--colorTitulo); }

  .overlayT:hover {
    opacity: 1;
    background-color: rgba(87, 46, 229, 0.4); }

  .overlayT:hover .iconosT:hover {
    opacity: 1;
    color: var(--colorTitulo);
    z-index: 19990; }

  .overlayT .iconosT img {
    background-color: #FFFFFF;
    object-fit: contain; }

  .iconosBoxT {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0; }

  .nameBoxT {
    position: absolute;
    bottom: 2px;
    left: 5px;
    color: var(--colorBlanco);
    color: var(--inversoTexto); }

  .iconosT {
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    opacity: 0.6; } }
.searchBar {
  height: auto;
  width: 60vw;
  position: relative;
  border-radius: 20px 20px 20px 20px;
  border: solid 1px grey; }

.searchBar ul li i {
  margin: 5px;
  width: 20px;
  color: #b1b1b1; }

.searchBar ul li {
  display: flex;
  color: #cecece; }

.suggestions {
  width: 100%;
  height: auto;
  opacity: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer; }

.suggestion {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 50px;
  list-style: none;
  padding: 20px;
  margin: 0;
  position: relative;
  cursor: pointer;
  z-index: 105; }

.suggestion:hover {
  z-index: 99;
  cursor: pointer; }

.liSearch {
  width: 100%;
  display: flex;
  justify-content: flex-start; }

.suggestion::after {
  content: '';
  height: 1px;
  width: 90%;
  background-color: grey;
  position: absolute;
  top: 100%; }

.menu .searchBar {
  width: 23vw;
  position: absolute;
  top: 20px;
  background-color: var(--colorBlanco); }

.menu .searchBar ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  white-space: nowrap; }

.menu .searchBar li {
  width: 100%;
  display: flex;
  justify-content: flex-start; }

/*# sourceMappingURL=styleAll.css.map */
